:root {
    /* Shades of black and white */
    --colorMainBlack: #0e0e0e;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #5a2acc;
    --colorPrimary200: #679be9;
    --colorPrimary100: #b1b1ffc7;

    --colorPrimaryBack: rgba(158, 142, 245, 0.315);
    --colorPrimary50: #cacaecb2;
    
    /* Secondary color */
    --colorSecondary:#df0038;
    --colorSecondary200: #f03d6a;
    --colorSecondary100: #ffa2b9;
}