h1 {
    font-size: 72px;
    margin: 0;
}
h1 {
    @include regular {
        font-size: 64px;
    }
    @include small {
        font-size: 52px;
    }
    @include mobile {
        font-size: 46px;
        text-align: center;
    }
}
h2 {
    @include regular {
        font-size: 36px;
    }
    
    @include small {
        font-size: 28px;
    }
    @include mobile {
        font-size: 24px;
        text-align: center;
    }
}