:root {
    /* Small buttons */
    --borderRadiusSmall: 6px;
    /* Large buttons */
    --borderRadiusMedium: 10px;
    /* Big areas */
    --borderRadiusLarge: 16px;
    /* main box shadow */
    --boxShadow: 1px 3px 6px rgba(47, 47, 47, 0.217);
    /* Box shadow primary color */
    --boxShadowPrimary: 2px 3px 6px #8f69e7b0;
    /* Box shadow secondary color */
    --boxShadowSecondary: 1px 3px 6px #ffbe0d7d;
}