@import "../helpers/medias.scss";
@import "../helpers/colors.scss";
@import "../helpers/medias.scss";
@import "../helpers/misc.scss";
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



