@import "../helpers/medias.scss";
@import "../helpers/colors.scss";
@import "../helpers/medias.scss";
@import "../helpers/misc.scss";
.landing-page {
    display: flex;
    flex-direction: column;
    .title, .section-title {
        font-weight:bold;
        margin-bottom: 1rem;
    }
    .section {
        margin: 1rem 0;
        .movies-list {
            margin: 1rem 0;
        }
        .see-more {
            max-width: 25rem;
            margin: auto;
        }
    }

    
}



