.single-movie-page {
    display: flex;
    flex-direction: column;
    
    .comments-section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .titles {
                font-weight: bold;
            }
    
            .comment {
                display:flex;
                flex-direction: column;
                background-color: rgba(255, 255, 255, 0.527);
                margin-bottom: 1rem;
                box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.027);

                .body-content {
                    padding: 0.4rem;
                }

                p {
                    margin-bottom: 0.2rem;
                }
                .username {
                    color: rgb(11, 55, 150);
                    padding: 0.5rem;
                    background-color: rgb(216, 229, 253);
                   
                }
                .details {
                    display: flex;
                    justify-content: space-between;
    
                }
                .rating {
                    span {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }
    .submit-button{
        color: white;
        background-color: #335baf;
        &:hover {
            background-color: #4b76d3;
        }
    }
    .loading-spinner {
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        height: 50vh;
    }
}