@import '../../helpers/medias.scss';

.card-movie { 
    // border: 1px solid rgba(128, 128, 128, 0.226);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;

    .link {

        color: black; /* blue colors for links too */
        text-decoration: none; /* no underline */
    }
    &:hover {
        background-color: rgb(255, 255, 255);
        box-shadow: 3px 4px 3px 2px rgba(19, 19, 19, 0.103);
        .img-container {
            img{
                opacity: 1;   
            }
        }
    }

    @include mobile {
        padding: 0.5rem;
        .content {
            margin-top: 0.5rem;
        }
    }
    .rating {
        margin-bottom: 0;
    }

    .img-container {
        margin: 0 auto;
        width: 0.75fr;
        height: 200px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
       

            opacity: 0.97;   
        }
    }

    .content {
        padding: 0.5rem;
        h4 {
            color: rgb(0, 0, 0);
            font-weight: bold;
        }
    }
}
