@import "../../helpers/medias.scss";
.cards-movies{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    @include mobile {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include small {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include regular {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
